@page
@model EnterpriseCarDealership.Pages.CRUDCar.IndexCarModel
@{
}
@*Khaled*@
<table>
           <thead>
            <tr>
                <form asp-page-handler="FilterMax" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-2">
                            @*den Følgende metode er forbundet med methoden Filter max og de checkboxes er forbundet med filterings metoder for nogle af attributter*@

                            <input type="number" class="form-control" name="MaxPris" asp-for="@Model.MaxPris" value="@Model.MaxPris">
                        </div>

                        <br />
                        <input type="checkbox"  value=true asp-for="AC" />AC
                        <br />
                        <input type="checkbox" value=true asp-for="Sunroof" />Sunroof
                        <br />
                        <input type="checkbox" value=true asp-for="Screen" />Screen
                        <br />
                        <input type="checkbox" value=true asp-for="DVD" />DVD
                        <br <br />
                        <input type="checkbox" value=true asp-for="Screen" />Screen
                        <br />
                        <input type="checkbox" value=true asp-for="Camera" />Camera
                        <br />
                        <input type="checkbox" value=true asp-for="Sensor" />Sensor
                        <br />



                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-dark">Max Pris</button>
                        </div>
                    </div>
                </form>
            </tr>

            <tr>
                <form asp-page-handler="FilterMin" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-2">
                        @*den Følgende metode er forbundet med methoden Filter min og de radio er forbundet med filterings metoder for nogle af attributter*@
                            <input type="number" class="form-control" name="MinPris" asp-for="@Model.MinPris" value="@Model.MinPris">
                        </div>

                        <br />
                    <input type="radio"  value=true asp-for ="AC" />AC
                        <br />
                    <input type="radio" value=true asp-for="Sunroof" />Sunroof
                        <br />
                    <input type="radio" value=true asp-for="Screen" />Screen
                        <br />
                    <input type="radio" value=true asp-for="DVD" />DVD
                        <br />
                        <input type="radio" value=true asp-for="Camera" />Camera
                        <br />
                        <input type="radio" value=true asp-for="Sensor" />Sensor
                        <br />

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-dark">Min Pris</button>
                        </div>
                    </div>
                </form>
            </tr>

            <tr>
                <form asp-page-handler="All" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">All</button>
                            </div>
                        </div>
                    </form>
            </tr>
        </thead>
    @*de følgende knapper er forbundet med sorterings etoder i controller delen*@
        <thead>
            <tr>
                <th>
                    <form asp-page-handler="Id" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Id</button>
                            </div>
                        </div>
                    </form>
                </th>


                <th>
                    <form asp-page-handler="Brand" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Brand</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="Type" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Type</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="PrisPrDag" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">PrisPrDag</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="Year" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Year</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="Km" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Km</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="AC" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">AC</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="Sunroof" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Sunroof</button>
                            </div>
                        </div>
                    </form>
                </th>

                <th>
                    <form asp-page-handler="Screen" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Screen</button>
                            </div>
                        </div>
                    </form>
                </th>

         <th>
                    <form asp-page-handler="DVD" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">DVD</button>
                            </div>
                        </div>
                    </form>
                </th>
            
       

         <th>
                    <form asp-page-handler="Camera" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Camera</button>
                            </div>
                        </div>
                    </form>
                </th>
            
         <th>
                    <form asp-page-handler="Sensor" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-dark">Sensor</button>
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        </thead>

    <tbody>
        @*den følgende foreach loop henter attributter for hver attribut af bike model. de knapper har delete funktionen og redirect til update page *@
        @if (Model.cars.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.cars)
            {
                <div class="wrapper">

                <tr>

                    <td>@s.NextId</td>
                    <td>@s.Brand</td>
                    <td>@s.Type</td>
                    <td>@s.PrisPrDag</td>
                    <td>@s.Year</td>
                    <td>@s.Km</td>
                    <td>@s.AC</td>
                    <td>@s.Sunroof</td>
                    <td>@s.Screen</td>
                    <td>@s.DVD</td>
                    <td>@s.Camera</td>
                    <td>@s.Sensor</td>


                    <td><form asp-page-handler="Delete" asp-route-id="@s.NextId"><button type="submit" class="btn btn-dark">Delete Car </button></form></td>
                    <td><a asp-page="UpdateCar" asp-route-id="@s.NextId"><button type="submit" class="btn btn-dark">Update Car </button></a></td>

                </tr>
                </div>
            }
        }
        <a asp-page="/CRUDCar/CreateCar" class="btn btn-dark">Create new Car </a>
        <a asp-page="/Management/Management" class="btn btn-dark">Management</a>
    </tbody>
</table>